@model List<NewProduct>


<partial name="_notification" />
<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Product List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create new Product
            </a>
        </div>
    </div>

    <table id="example"  class="display table table-bordered table-striped"  width="100%">
        <thead>
            <tr>
                <th>Title</th>
               
                <th>ISBN</th>
                <th>Author</th>
                
                <th>Price</th>
                <th>Category</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>@obj.Title</td>
                   
                    <td>@obj.ISBN</td>
                    <td>@obj.Author</td>
                   
                    <td>@obj.Price</td>
                    <td>@obj.Category.Name</td>
                    <td>
                        <div class="w-55 btn-group" role="group">
                            <a asp-controller="Product" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square mx-1"></i>Edit
                            </a>
                            <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash-fill mx-1"></i>Delete
                            </a>
                        </div>
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#example').DataTable(); // Initialize DataTables on your table with id 'example'
    });
</script>

                             